[Desktop Entry]
Comment=
Exec=/usr/bin/wg-client-gui
GenericName=Wireguard VPN Tool
Icon=wg-client.png
MimeType=
Name=wg-client-gui
NoDisplay=false
StartupNotify=false
Terminal=false
Type=Application

